// Exercice 3
.flexbox {
  background: #42a5f5;
  border: 1px solid #0d47a1;
  padding: 20px;
}

.flexbox-1-container {
  display: flex;
  justify-content: center;
}

.flexbox-2-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.flexbox-3-container {
  display: flex;
  flex-wrap: wrap;
}

.flexbox-3-child {
  padding-right: 258px;
}
