// Exercice 4
.selectors {
  margin-bottom: 50px;
}

.selectors h2 {
  font-family: "Open Sans";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px;
}

.selectors h3 {
  color: #748cab;
  font-family: "Open Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

.selectors p {
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.selectors .highlight {
  font-weight: 700;
  color: black;
}

.selectors .article .highlight {
  color: #f44336;
}
